.container	
	margin-rigth:auto
	margin-left:auto
	padding-right:2%
	padding-left:2%
	max-width:98%
.row
	box-sizing:border-box
	display:-webkit-flex
	display:-ms-flexbox
	display:-webkit-box
	display:flex
	
	-webkit-flex:0 1 auto
	-ms-flex: 0 1 auto
  	-webkit-box-flex: 0
  	flex: 0 1 auto
  	-webkit-flex-direction: row
  	-ms-flex-direction: row
    -webkit-box-orient: horizontal
  	-webkit-box-direction: normal
  	flex-direction: row

	-webkit-flex-wrap: wrap
 	-ms-flex-wrap: wrap
 	flex-wrap: wrap
 	margin-right: -1%
  	margin-left: -1%
  
  .row.reverse
  	-webkit-flex-direction: column-reverse
 	-ms-flex-direction: column-reverse
 	-webkit-box-orient: vertical
 	-webkit-box-direction: reverse
 	flex-direction: column-reverse
  
  .col.reverse
  	-webkit-flex-direction: column-reverse
  	-ms-flex-direction: column-reverse
 	-webkit-box-orient: vertical
 	-webkit-box-direction: reverse
 	flex-direction: column-reverse