html,body
	color:#282828
	position:absolute
	width:100%
	font-family:'Montserrat',sans-serif
header,footer
	background-color:#282828
	position:absolute
	width:100%
header img
	width:250px
	display:block
nav ul li 
	color:#FFFFFF
	display:inline
	font-weigth:400
.home
	background:#FFFFFF url('assets/bg.jpg') no-repeat center center fixed
	background-size:cover
	-webkit-background-size:cover
	-moz-background-size:cover
	text-align:center
	color:#FFFFFF
	padding:20% 0
	box-sizing:border-box
h1
	font-size:50px
	text-transform:uppercase
	font-weigth:700
.boton
	color:#FFFFFF
	text-decoration:none
	text-transform:uppercase
	background-color:#FFB400
	padding:20px 30px
	font-weigth 400
	border-buttom:6px solid #E49100
	border-radius:50px
	-webkit-border-radius:5px
footer
	padding:20px 0
	box-sizing:border-box
footer, a
	color:#FFFFFF
a
	text-decoration:none
	
	
	